body {
    background: none;
}

.flex-container {
    grid-template-columns: repeat(auto-fill, minmax(209px, 1fr));
    display: grid;
    align-content: center;
    align-items: center;
    grid-gap: 23px;
}

.flex-item {
    max-width: 230px;
    order: 0;
    flex: 0 1 auto;
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 0 1 auto; /* IE 10 */ 
    align-self: auto;
}

.waifuCard{
    padding-bottom: 1rem;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
	text-align:center;
	cursor:pointer;
	transition: box-shadow 0.5s;
}

.waifuCard:hover{
	box-shadow: 0 4px 4px 0 rgba(0,0,0,.14), 0 2px 10px 0 rgba(0,0,0,.12), 0 6px 2px -4px rgba(0,0,0,.2);
}

.waifuCard img{
    height: 14rem;
    border-radius: 2px 2px 0px 0px;
    object-fit: cover;
    width: 100%;
    transition: all 0.5s;
    display: block;
}

.waifuCard #ima:hover .assign{
    filter:none !important;
    z-index: 9999;
    display: block;
}
.waifuCard #ima:hover img{
    filter:brightness(200%);
}

#ima{
    position: relative;
    text-align: center;
}

.assign{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttonlight {
    background-color: #584678;
    color: aliceblue;
}
h2{
    color: inherit;
}

section{
    color: black;
    display: contents;
}

.container {
    width: 80%;
}


.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #888 !important;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 999;
    top: 0;
    position: absolute;
    right: 0;
}

.close:hover,
.close:focus {
    color: #000 !important;
    text-decoration: none;
    cursor: pointer;
}

.modal .container {
/*    margin: 50px auto;
    height: 60vh;*/
    background:white;
    
    border-radius: 0 0 .3em .3em;
}

/*
.detail-content > .container > div{
    padding: 2rem;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
}*/

.detail-content h2 {
    margin: 0;
}

.detail-content span {
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.base-detail ul {
    justify-content: center;
    width: 100%;
}

.base-detail ul li {
    display:inline-block;
    background-color:#eee;
    list-style-type:none;
    margin-right:-4px;
    padding:10px;
}

.base-detail{
    width: 100%;
}

  
.user-profile {
    min-height: 38vh;
    position: relative;
}
  
.user-profile  .uname {
    font-size: 1.53em;
    font-family: "Coda", sans-serif;
    font-weight: bold;
}

.user-profile  .bio {
    margin: auto;
    display: inline-block;
    margin-left: 12.4em;
    font-size: .87em;
    font-family: "varela round", sans-serif;
}

.user-profile .description {
    font-size: .87em;
    font-family: "varela round", sans-serif;
}

.description{
    text-align: justify;
    text-justify: inter-word;
    margin: 1rem;
    grid-area: description;
}

.user-profile img.avatar {
    padding: .7em;
    margin-left: .3em;
    margin-top: .3em;
    height: 25vh;
}

.data {
    margin: 0;
    grid-area: countdown;
    transform: translateY(2px);
}

.user-profile ul.data {
    height: 3.70em;
    background: #584678;
    text-align: center;
    border-radius: 0 0 .3em .3em;
}
.user-profile li {
    margin: 0 auto;
    padding: 1.30em; 
    width: 33.33334%;
    display: table-cell;
    text-align: center;
}

.user-profile span {
    font-family: "varela round", sans-serif;
    color: #e3eeee;
    white-space: nowrap;
    font-size: 1.27em;
    font-weight: bold;
}
.user-profile span:hover {
    color: #daebea;
}

p {
    margin: 0;
    padding: 0;
}

.modal .container {
    max-width: 50vw;
}

.grid-container {
    display: grid;
    grid-template-areas:
      'avatar name name name name name'
      'avatar description description description description description'
      'avatar description description description description description'
      'avatar description description description description description'
      'avatar description description description description description'
      'avatar description description description description description'
      'avatar description description description description description'
      'avatar description description description description description'
      'countdown countdown countdown countdown countdown countdown';
  }

  .avatarcontainer{
    grid-area: avatar;
  }

  .uname{
    grid-area: name;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .waifuCard p{
      text-align: center;
      margin: 1rem 0rem;
  }

  .buttonlight:hover {
    background: #9c7bd5;
    box-shadow: 0px 0px 0px 0px #97B1BF;
    color: #fff;
}

@media (max-width: 570px) {


    .flex-item {
        margin: 0 auto;
    }
}

@media (max-width: 740px) {
    .grid-container {
    grid-template-areas:
        'avatar'
        'name'
        'description'
        'countdown';
    }

    .modal .container {
        max-width: initial;
    }

    .container {
        text-align: center;
    }
}