@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,800');

html, body, section, h1, img, nav, button, a, div{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 1rem;
    font-family: 'Nunito Sans', sans-serif;
}

img, div{
    border: none;
}

#bgg1 {
    position: fixed;
    overflow-x: hidden;
    background: url('../images/ethlogo_bw.png');
    background-position: center;
    background-size: 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    z-index: -9;
}

#bgg2 {
    position: fixed;
    overflow-x: hidden;
    background: url('../images/ethlogo.png');
    background-position: center;
    background-size: 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    z-index: -9;
    transition: opacity 1000ms linear;
    opacity: 0;
}

.background img {
    opacity: 0.5;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spaces ul li {
    padding: 1rem 1rem;
}

.spaces ul li:hover {
    background-color: #ededed;
}

.bgimages-item{
    min-width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

#playnav{
    background-color: #584678;
    color: white;
}

#b2{
    min-width: auto;
}

.bgimages-item:nth-child(1){
    transform: translate(400%,0);
}

.bgimages-item:nth-child(2){
    transform: translate(200%,0);
}
.bgimages-item:nth-child(3){
    transform: translate(100%,0);
}
.bgimages-item:nth-child(4){
    transform: translate(0%,0%);
}

.navbar { 
    z-index: 50;
    position: fixed;
    display: block !important;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}

.navbar p, .navbar img{
    display: inline;
}

.navbar-container{
    background-color: #fff;
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-top: .8rem;
    padding-bottom: .8rem;
}

.expandButton{
    display: none;
    position: absolute;;
    top: 0;
    left: 0;
}

.nmenu{
    flex: 1;
}

.nbrand{
    margin-left: 2.4rem;
    cursor: pointer;
}

.nbrand p{
    font-size: 2rem;
    font-weight: bold;
}

#sec4 button {
    font-weight: bold;
}

.nbutton{
    border: none;
    height: 2.5rem;
    padding: 0 1.5rem;
    font-size: 1.2rem;
    margin: 0rem 2.4rem;
    transition-duration: 0.4s;
}

.nbutton:hover {
    box-shadow:0px 0px 5px 3px #715c97;
    color:#fff;
}

.spaces, .action {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button{
    border: none;
    padding: 20px;
    text-align: center;
    align-content: center;
    align-items: center;
    transition-duration: 0.3s;
    border-width: 20px;
}

.maint button{
    background-color: #fff;
    width: 20em;
    font-weight: bold;
}

.card{
    background: #584678;
    width: 50%;
    padding: 35px;
    border-radius: 0px;
    opacity: 0.9;
    box-shadow: 3px 3px 6px 0px #000;
    z-index: 5;
    color: white;
}

.maint{
    width: 50vw;
    transform: translateX(-15vw)
}

#menu-icon-close {
    display: none;
}

.maint button{
    margin-top: 3em;
    display: inline-block;
}

.maint img {
    display: none;
}

h1{
    color: white;
    font-size: 4em;
}

h2{
    color: black;
    font-size: 2em;
}


.test {
    z-index: 10;
}

#sec1 {
    transform: translate(25%, 0%)
}

#sec2 {
    transform: translate(-25%, 0%)
}

#sec3 {
    transform: translate(-25%, 0%)
}

#sec4 {
    text-align: center;
}

button{
    cursor: pointer;
}

button:focus {outline:0;}

.buttonlight {
    background-color: #fff;
    border: none;
    padding: 20px;
    width: 150px;
    text-align: center;
    transition-duration: 0.4s;
}

.buttonlight:hover{
    background:#fff;
    box-shadow:0px 2px 10px 5px #97B1BF;
    color:#000;
}

#b1{
    background: #584678;
}

#b2{
    background: linear-gradient(to right, #584678 0%,#584678 23%,rgba(255,255,255,0) 24%,rgba(255,255,255,0) 100%);
    /*background: url('../images/blue left.png') center center / contain no-repeat;
    width: 100%;
    z-index: 9;
    */
    transform: translate(1.54489%, 0%);
}

#butt-discord {
    background-color: #7289da !important;
    color: white !important;
}

#float-discord{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 999999;
    background: url('../images/Discord-Logo-White.svg');
    background-color: #7289da;
    padding: 0.3rem;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding: 0.3rem;
    height: 3.3rem;
    width: 3.3rem;
    border-radius: 500px;
    border: 1px solid #7289da;
    transition: all 0.75s;
}

#discord-text {
    opacity: 0;
    margin-top: 15px;
    width: 6700px;
    margin-left: 65px;
    font-weight: bold;
    transition: all 0.2s;
}

#discord-text span{
    color: white;
}

#float-discord:hover #discord-text{
    transition: all 1s;
    opacity: 1.4;
}

#float-discord:hover{
    width: 14rem;
    
    transition: all 0.2s;
    
}

/*
#db2{
    background: linear-gradient(to right, #584678 0%, #584678 25%,#ffffff 25%,#ffffff 100%);
}

#b3{
    background: url('../images/purplehairright.png') center center / contain no-repeat;
    width: 100%;
    transform: translate(1.54489%, 0%);
    z-index: 9;
}

#b4{
    background: url('../images/blue right.png') center center / contain no-repeat;
    width: 100%;
    transform: translate(1.54489%, 0%);
    z-index: 9;
}*/

#b4{
    background: linear-gradient(to left, #cdc2be 0%,#cdc2be 23%,rgba(255,255,255,0) 24%,rgba(255,255,255,0) 100%);
}

@media (max-width: 740px){
    .navbar-container {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 0;
        padding: 0;
    }

    nav ul li a{
        display: flex;
        flex-direction: row-reverse;
    }

    .nmenu , #playnav {
        display: none;
    }
}

@media (max-width: 1010px) {
    .maint{
        width: 90vw;
        transform: translateX(0px);
        text-align: center;
        font-size: 0.5em;
    }
    .maint img {
        display: inline-block;
    }

}


@media (max-width: 740px) {
    #sec1, #sec2, #sec3, #sec4 {
        transform: translate(0%, 0%);
    }

    #b1{
        transform: scaleX(-1)
    }

    #sec1.card{
        background: #fff;
        width: 50%;
        padding: 35px;
        border-radius: 0px;
        opacity: 0.9;
        box-shadow: 3px 3px 6px 0px #000;
        z-index: 5;
    }

    #sec1.card h3, #sec1.card p {
        color: black;
    }

    #test1 {
        display: none;
    }

    .expandButton{
        display: initial;
    }

    #logo{
        display: none;
    }

    .expandButton{
        top: 0.7rem;
        left: 1rem;
    }

    .nbrand p {
        font-size: 1.5rem;
    }

    #ethlogo{
        height: 1.1rem;
        width: 1.1rem;
    }

}
