@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    position: absolute;
    font-family: 'Source Sans Pro', sans-serif;
}

.imgm {
    margin: 0;
    padding: 0;
    position: relative;
    width: 75%;
    margin: auto;
    display: block;
    
}

nav {
    position: fixed;
    /*background: #171717;*/
    background-color: #000;
    height: 100%;
    width: 50px;
    color: white;
    overflow-y: auto;
    z-index: 100;
}

h1 {
    position: relative;
    display: block;
    font-size: 3.5vw;
    margin: 0;
    padding: 0;
}

.main {
    position: relative;
    display: grid;
    height: 100%;
    width: calc(100% - 50px);
    left: 50px;
}

.header {
    background-image: url("../images/bg.png");
    background-position: center;
    background-size: cover;
}

.shop {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e1e3e4+0,ffffff+100 */
    background: #e1e3e4; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #e1e3e4 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #e1e3e4 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #e1e3e4 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e3e4', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    justify-content: center;
}

.shop:focus, .main:focus{
    outline: none;
}

.gallery {
    margin: 20px;
    display: grid;
    grid-gap: 1rem;      
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    grid-auto-rows: minmax(26vh, auto);
    text-align: center;
    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    background: #ffffff;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.card img {
    border-radius: 50%;
    width: calc(100% - 2*15px);
    margin: 15px;
}

a.button1{
	display:inline-block;
	padding:0.35em 1.2em;
	border:0.1em solid #000;
	margin:0 0.3em 0.3em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#000;
	text-align:center;
    transition: all 0.2s;
    display:block;
	margin:0.4em auto;
}

a.button1:hover{
	color:#FFF;
	background-color:#584678;
}

.circle-frame {
    border: 5px solid #000;
    border-radius: 50%;
    width: 150px;
}

  /* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@media only screen and (max-width: 600px) {
    .main {
        position: relative;
        display: grid;
        height: calc(100% - 50px);
        top: 50px;
        left: 0px;
        width: 100%;
    }
    nav {
        position: fixed;
        /* background: #171717; */
        background-color: #000;
        width: 100%;
        height: 50px;
        color: white;
        overflow: hidden;
    }
   
}