.bg {
  transform: translate(0%, 0%) !important;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -10;
}

h1{
  color: black;
  text-align: center;
  margin: 1em;
}

/* Styles for page */ 
.container{
  width: 70%;
  margin:150px auto;
}

body{
  color: #000;
  font-family: sans-serif;
  background: url("../images/ethlogo.png") center center / contain no-repeat;
  background-position: center;
  background-size: 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
body a{
  cursor:pointer; 
  color: #4B4B4B;
  text-decoration:none;
}

body section{
  margin-bottom:90px;
}

body section h1{
  text-transform:uppercase;
  text-align:center;
  font-weight:normal;
  letter-spacing:10px;
  font-size:25px;
  line-height:1.5;
}

body section p, a { 
  text-align:center;
  letter-spacing:3px;
}


span{
  letter-spacing:0px;
}

p{
  font-weight:200;
  line-height:1.5;
  font-size:14px;
  color: black;
}

/* Styles for Accordion */ 
.toggle:last-child {
  border-bottom: 1px solid #dddddd;
}

.toggle .toggle-title {
  position: relative;
  display: block;
  border-top: 1px solid #dddddd;
  margin-bottom: 6px;
}

.toggle .toggle-title h3 {
  font-size: 20px;
  margin: 0px;
  line-height: 1;
  cursor: pointer;
  font-weight:200;
}

.toggle .toggle-inner {
  padding: 7px 25px 10px 25px;
  display: none;
  margin: -7px 0 6px;
}

.toggle .toggle-inner div {
  max-width: 100%;
}

.toggle .toggle-title .title-name {
  display: block;
  padding: 25px 25px 14px;
}

.toggle .toggle-title a i {
  font-size: 22px;
  margin-right: 5px;
}

.toggle .toggle-title i {
  position: absolute;
  background: url('http://arielbeninca.com/Storage/plus_minus.png') 0px -24px no-repeat;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 20px;
  right: 0;
}

.toggle .toggle-title.active i {
  background: url('http://arielbeninca.com/Storage/plus_minus.png') 0px 0px no-repeat;
}